 <div class="main-content page-m" >

  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <div formGroupName="user" class="form-area">


          <div class="row">
            <div class="col-md-2"><label>User Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="userName" type="text">
                 <!--validation-->
                 <div *ngIf="userName.invalid &&(userName.dirty || userName.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="userName.errors.required || userName.error.notOnlyWhitespace">
                    A user name is required.
                  </div>
                  <div *ngIf="userName.errors.minlength">
                    Your user name must be at least 2 characters long.
                  </div>
                </div>
                <!--end of validation-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Identification</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="identification" type="text">
                <!--validation-->
                <div *ngIf="identification.invalid &&(identification.dirty || identification.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="identification.errors.required ">
                    Identification is required.
                  </div>
                  <div *ngIf="identification.errors.pattern">
                    Your identification number must consist of numbers only.
                  </div>
                  <div *ngIf="identification.errors.minlength">
                    Your identification number must be at least 5 numbers long.
                  </div>
                </div>
                <!--end of validation-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">
                <!--validation-->
                <div *ngIf="email.invalid &&(email.dirty || email.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="email.errors.required ">
                    An email is required.
                  </div>
                  <div *ngIf="email.errors.minlength">
                    Your email must be at least 6 characters long.
                  </div>
                  <div *ngIf="email.errors.pattern">
                    Your email must have an email format.
                  </div>
                </div>
                <!--end of validation-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Phone Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="phoneNumber" type="text">
                <!--validation-->
                <div *ngIf="phoneNumber.invalid &&(phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="phoneNumber.errors.required ">
                    A phone number is required.
                  </div>
                  <div *ngIf="phoneNumber.errors.minlength">
                    Your phone number must be at least 8 numerals long.
                  </div>
                  <div *ngIf="phoneNumber.errors.pattern">
                    Your phone number must consist of numbers only.
                  </div>
                </div>
                <!--end of validation-->
              </div>
            </div>
          </div>

          <div *ngIf="hasAdminRole() == true" class="row">
            <div class="col-md-2"><label>Role</label></div>
            <div class="col-md-9">
              <select formControlName="role">
                <option>Admin</option>
              </select>
            </div>
          </div>

        </div>

        <!-- submit button -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>


 <!-- <div class="page-content page-container" id="page-content">
  <div class="padding">
      <div class="row container d-flex justify-content-center">
          <div class="col-xl-6 col-md-12">
              <div class="card user-card-full">
                <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                  <div class="row m-l-0 m-r-0">
                      <div class="col-sm-4 bg-c-lite-green user-profile">
                          <div class="card-block text-center text-white">
                              <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                              <label>User Name</label>
                              <input formControlName="userName" type="text">
                              <p>Web Designer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                          </div>
                      </div>
                      <div class="col-sm-8">
                          <div class="card-block">
                              <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <p class="m-b-10 f-w-600">Email</p>
                                      <h6 class="text-muted f-w-400">rntng@gmail.com</h6>
                                  </div>
                                  <div class="col-sm-6">
                                      <p class="m-b-10 f-w-600">Phone</p>
                                      <h6 class="text-muted f-w-400">98979989898</h6>
                                  </div>
                              </div>
                              <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <p class="m-b-10 f-w-600">Recent</p>
                                      <h6 class="text-muted f-w-400">Sam Disuja</h6>
                                  </div>
                                  <div class="col-sm-6">
                                      <p class="m-b-10 f-w-600">Most Viewed</p>
                                      <h6 class="text-muted f-w-400">Dinoter husainm</h6>
                                  </div>
                              </div>
                              <ul class="social-link list-unstyled m-t-40 m-b-10">
                                  <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                  <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                  <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>
 -->
