<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <div class="row">
        <div class="col-3">
          <button class="btn btn-primary" (click)="createGame()">Create a new game</button>
        </div>
       <div class="col-4">
         <button class="btn btn-primary" (click)="connectToGame()">Connect to an existing game</button>
       </div>
        <br>
      </div>

      <div *ngIf="showPlayer1Turn" class="row" style="color: green">
        Start Play!
      </div>
      <div class="text-center" id="box">
        <header>
          <h1>Play Tic Tac Toe</h1>
        </header>
        <div id="message"></div>
        <ul id="gameBoard">
          <li class="tic" id="0_0" (click)="clickBoard('0_0', 0, 0)">{{ turns[0][0] }}</li>
          <li class="tic" id="0_1" (click)="clickBoard('0_1', 0, 1)">{{ turns[0][1] }}</li>
          <li class="tic" id="0_2" (click)="clickBoard('0_2', 0, 2)">{{ turns[0][2] }}</li>
          <li class="tic" id="1_0" (click)="clickBoard('1_0', 1, 0)">{{ turns[1][0] }}</li>
          <li class="tic" id="1_1" (click)="clickBoard('1_1', 1, 1)">{{ turns[1][1] }}</li>
          <li class="tic" id="1_2" (click)="clickBoard('1_2', 1, 2)">{{ turns[1][2] }}</li>
          <li class="tic" id="2_0" (click)="clickBoard('2_0', 2, 0)">{{ turns[2][0] }}</li>
          <li class="tic" id="2_1" (click)="clickBoard('2_1', 2, 1)">{{ turns[2][1] }}</li>
          <li class="tic" id="2_2" (click)="clickBoard('2_2', 2, 2)">{{ turns[2][2] }}</li>
        </ul>

      </div>
    </div>
  </div>
</div>


