<!-- abishek:
  <div class="container" style="padding-top: 100px;">
  <div class="card link-button" >
    <div class="card-body my-card" (click)="routeUserTo('game')" >Game Library</div>
  </div>
  <div class="card link-button"  >
    <div class="card-body my-card" (click)="routeUserTo('gameHistory')">Game's History</div>
  </div>
  <div class="card link-button"  >
    <div class="card-body my-card" (click)="routeUserTo('uProfile')" >User Profile</div>
  </div>
  <div *ngIf="isAdminUser"  class="card link-button" >
    <div class="card-body my-card" (click)="routeUserTo('admin')">Admin</div>
  </div>
</div> -->



<!-- adam:
  <div class= "menu-container">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/game-library.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/game-library.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/game-library.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/game-library.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

</div> -->


<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card mb-3" (click)="routeUserTo('game')" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/images/game-library.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Game Library</h5>
              <p class="card-text">Choose from one of our award-wining games, and find yourself
                loosing any perception of time as you dive in for hours on end.
              </p>


            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-sm-6 -->
    <div class="col-sm-6">
      <div class="card mb-3" (click)="routeUserTo('gameHistory')" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/images/game-history.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Game History</h5>
              <p class="card-text">Keep track of your recent and past activity, and follow your stats and records.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-sm-6 -->
  </div>
  <!-- /.row -->
 </div>






 <!-- /.container -->
 <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card mb-3" (click)="routeUserTo('uProfile')" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/images/user-profile.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">My Profile</h5>
              <p class="card-text">View your user profile and edit it if you wish.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-sm-6 -->
    <div class="col-sm-6">
      <div *ngIf="isUserHasAdmin()" class="card mb-3" (click)="routeUserTo('admin')"style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/images/admin.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Admin Board</h5>
              <p class="card-text">Administrator board - view and control various website and user information.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-sm-6 -->
  </div>
  <!-- /.row -->
 </div>




 <!-- /.container -->

