<div class="container-fluid">
  <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image"></div>


      <!-- The content half -->
      <div class="col-md-6 bg-light">
          <div class="login d-flex align-items-center py-5">

              <!-- Demo content-->
              <div class="container">
                  <div class="row">
                      <div class="col-lg-10 col-xl-7 mx-auto">
                          <h3 class="display-4">Welcome to GAMINGVILLE</h3>
                          <p class="text-muted mb-4"> Pleaser Login</p>
                          <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                            <!-- customer form group -->
                            <div formGroupName="credentials" class="">

                              <div class="row">
                                <div class="col-md-9">
                                  <div class="input-space">
                                    <input  formControlName="username" placeholder="Enter your username" type="text">
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-9">
                                  <div class="input-space">
                                    <input  formControlName="password" placeholder="Enter your password" type="password">
                                  </div>
                                </div>
                              </div>

                            </div>

                            <!-- submit button -->
                            <div class="text-center">
                              <button type="submit" style="color: white; background-color: #265AFF;" class="btn">Continue</button>
                            </div>

                            <div *ngIf="isUserLoggedIn() == false" class="text-center">


                            </div>

                            <div class="text-center">
                              <a style="color: #265AFF; padding-top: 80px;" routerLink="/user-registration">Don't have an account? Click Here to Sign Up</a>

                            </div>

                          </form>
                      </div>
                  </div>
              </div><!-- End -->

          </div>
      </div><!-- End -->

  </div>
</div>
