/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("~src/assets/images/landing.png");

  background-size: cover;
  background-position: center center;
}
