<div class="page-wrapper">


  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <!-- <header class="header-desktop" style="background: #265AFF;">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">


            <app-login-status></app-login-status>


          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
      <img style="padding-left: 90
      vw;" src="assets/user.png"> <img style="padding-left: 90 vw;;" src="assets/images/logo.png">

    </header> -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #265AFF;">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="isLogin" class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li style="cursor: pointer;" class="nav-item active">
            <a class="nav-link" href="main">Home <span class="sr-only">(current)</span></a>
          </li>
          <li style="cursor: pointer;" class="nav-item">
            <a class="nav-link" href="games">Game Library</a>
          </li>
          <li style="cursor: pointer;" class="nav-item">
            <a class="nav-link" href="user-details">Profile</a>
          </li>
          <li style="padding-left: 800px; cursor: pointer;" class="nav-item">
            <a class="nav-link" (click)="signOut()" >Signout</a>
          </li>

        </ul>
      </div>
    </nav>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->

    <router-outlet></router-outlet>

  </div>
</div>

<!-- END PAGE CONTAINER -->
<div class = "footer-container">
  <div class="footer-content">
  <ul>
    <li><a href="components/about">About Us</a></li>


  </ul>
  </div>
</div>


