
<div class="main-content page-m" style="background: #265AFF;">
  <div class="section-content section-content-p30">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- customer form group -->
        <div formGroupName="user" class="">
          <h3 style="color: white;">User Registration</h3>

          <div class="row">
            <div class="col-md-2" style="color: white;"><label>User Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="userName" type="text">
                <!--validation-->
                <div *ngIf="userName.invalid &&(userName.dirty || userName.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="userName.errors.required || userName.error.notOnlyWhitespace">
                    A user name is required.
                  </div>
                  <div *ngIf="userName.errors.minlength">
                    Your user name must be at least 2 characters long.
                  </div>
                </div>
                <!--end of validation-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="color: white;"><label>Password</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="password" type="password">
                <!--validation-->
                <div *ngIf="password.invalid &&(password.dirty || password.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="password.errors.required">
                    A password is required.
                  </div>
                  <div *ngIf="password.errors.minlength">
                    Your password must be at least 4 characters long.
                  </div>
                </div>
                <!--end of validation-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="color: white;"><label>Identification</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="identification" type="text">
                <!--validation-->
                <div *ngIf="identification.invalid &&(identification.dirty || identification.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="identification.errors.required ">
                    Identification is required.
                  </div>
                  <div *ngIf="identification.errors.pattern">
                    Your identification number must consist of numbers only.
                  </div>
                  <div *ngIf="identification.errors.minlength">
                    Your identification number must be at least 5 numbers long.
                  </div>
                </div>
                <!--end of validation-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="color: white;"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">
                <!--validation-->
                <div *ngIf="email.invalid &&(email.dirty || email.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="email.errors.required ">
                    An email is required.
                  </div>
                  <div *ngIf="email.errors.minlength">
                    Your email must be at least 6 characters long.
                  </div>
                  <div *ngIf="email.errors.pattern">
                    Your email must have an email format.
                  </div>
                </div>
                <!--end of validation-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="color: white;"><label>Phone Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="phoneNumber" type="text">
                <!--validation-->
                <div *ngIf="phoneNumber.invalid &&(phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="phoneNumber.errors.required ">
                    A phone number is required.
                  </div>
                  <div *ngIf="phoneNumber.errors.minlength">
                    Your phone number must be at least 8 numerals long.
                  </div>
                  <div *ngIf="phoneNumber.errors.pattern">
                    Your phone number must consist of numbers only.
                  </div>
                </div>
                <!--end of validation-->
              </div>
            </div>
          </div>

        </div>

        <!-- submit button -->
        <div class="text-center">
          <button style="color: #265AFF; background-color: white;" type="submit" class="btn">Continue</button>
        </div>

      </form>
  </div>
</div>

