<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h3>Your Games History</h3>

      <div *ngIf="pageSlice.length > 0">
        <table class="table table-bordered">
          <tr>
            <th width="20%">Name</th>
            <th width="20%">Date</th>
            <th width="30%">Score</th>

          </tr>

          <tr *ngFor="let game of pageSlice">
            <td>{{ game.gameName}}</td>
            <td>{{ game.date | date: 'medium'}}</td>
            <td>{{ game.score }}</td>
          </tr>

        </table>
      </div>

      <!-- if order history is empty then display a message -->
      <div *ngIf="pageSlice.length == 0" class="alert alert-warning col-md-12" role="alert">
        No games found.
      </div>


      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">

                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="listGamesHistory()"
                >

                </ngb-pagination>
              </div>

              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>
                <select (change)="updatePageSize($event.target.value)">
                  <option>2</option>
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
