

      <div class="container">
        <div class="row">
            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <img src="assets/images/blocked.png" class="Blocked Users" alt="...">
                <div class="card-body">
                  <p class="card-text">View the site's blocked user list.
                    A list of the bad guys.
                  </p>
                  <button type="button" class="btn btn-primary" routerLink="/blackList" >Lets Go</button>
                </div>
              </div>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <img src="assets/images/error.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">A comprehensive log of all the errors that occurred in the system. </p>
                  <button type="button" class="btn btn-primary" routerLink="/errorLog" >Lets Go</button>
                </div>
              </div>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <img src="assets/images/users.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">View and manage the entire site's user data base.</p>
                  <button type="button" class="btn btn-primary" routerLink="/users" >Lets Go</button>

                </div>
              </div>
            </div>
            <!-- /.col-sm-4 -->
       </div>
       <!-- /.row -->
     </div>
     <!-- /.container -->
