<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h3>User List</h3>

      <div *ngIf="userList.length > 0">
        <table class="table table-bordered">
          <tr>
            <th width="20%">User Identification</th>
            <th width="20%">User Name</th>
            <th width="10%">User Active</th>
            <th width="10%">User in Black List</th>
            <th width="10%">Block User</th>
            <th width="10%">Edit User</th>
          </tr>

          <tr *ngFor="let user of userList">
            <td>{{ user.identification}}</td>
            <td>{{ user.userName}}</td>
            <td>{{ user.active}}</td>
            <td>{{ user.blackList? 'YES' : 'NO'}}</td>
            <td *ngIf="user.blackList"><button class="btn" style="background-color: green;" (click)="unBlockUser(user.userName, user.identification)">UnBlock User</button></td>
            <td *ngIf="!user.blackList"><button class="btn" style="background-color: red; width: 70%;" (click)="blockUser(user.userName, user.identification)">Block User</button></td>
            <td><button class="btn"  style="background-color: blue;"(click)="editUser(user.userName, user.identification)">Edit</button></td>
          </tr>

        </table>
      </div>

      <!-- if order history is empty then display a message -->
      <div *ngIf="userList.length == 0" class="alert alert-warning col-md-12" role="alert">
        No Users found.
      </div>

      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">

                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="listUsers()"
                >

                </ngb-pagination>
              </div>

              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>
                <select (change)="updatePageSize($event.target.value)">
                  <option>2</option>
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>


</div>
