<!-- <div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h3>Our Games...</h3>

      <div *ngIf="gameList.length > 0">
        <table class="table table-bordered">
          <tr>
            <th width="10%">Game Name</th>
            <th width="20%">Description</th>
            <th width="30%">Duration</th>
            <th width="30%"></th>

          </tr>

          <tr *ngFor="let game of gameList">
            <td>{{ game.name}}</td>
            <td>{{ game.description}}</td>
            <td>{{ game.duration }}</td>
            <td><a routerLink="{{game.gameLink}}">Start Game</a></td>
          </tr>

        </table>
      </div>

      <div *ngIf="gameList.length == 0" class="alert alert-warning col-md-12" role="alert">
        No games were found.
      </div>


    </div>
  </div>
</div> -->
<!-- <div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h3>Game App</h3>
      <div class="row">
        <a routerLink="/games">Games</a>
        <a routerLink="/games-history">Games History</a>
        <a routerLink="/user-details">User</a>
        <a *ngIf="isAdminUser" routerLink="/management">Management</a>
      </div>

      </div>
    </div>
  </div> -->
  <div class="container-fluid custom-container" style="padding-top: 160px;">
    <div class="row" style="width: 100vw;">
      <div class="col-lg-4" style="padding-left:40px;">
        <div class="card" style="width: 22rem;background:#E5E5E5; border: 1px solid #E5E5E5;">
          <img class="card-img-top custom-card" src="assets/images/tic-tac-toe.png" alt="Card image cap">
          <div class="card-body custom-card">
            <h5 class="card-title">Tic Tac Toe</h5>
            <p class="card-text">Prove yourself against an online opponent, and try to break the site's record in this great Tic Tac Toe online multiplayer!</p>
            <a (click)="loadGame('tic')" class="btn btn-primary">Play!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4" style="padding-left:40px;">
        <div class="card" style="width: 22rem;background:#E5E5E5; border: 1px solid #E5E5E5;">
          <img class="card-img-top custom-card" src="assets/images/memory-game.png" alt="Card image cap">
          <div class="card-body custom-card">
            <h5 class="card-title">Memory Game</h5>
            <p class="card-text">So you think you have a good memory ha? Enjoy this fun and friendly memory game with 3 difficulty levels.
            </p>
            <a (click)="loadGame('card')" class="btn btn-primary">Play!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4" style="padding-left:40px;padding-right:40px;">
        <div class="card" style="width: 22rem;background:#E5E5E5; border: 1px solid #E5E5E5;">
          <img class="card-img-top custom-card" src="assets/images/graduation-road.png" alt="Card image cap">
          <div class="card-body custom-card">
            <h5 class="Graduation Road">Card Game</h5>
            <p class="card-text">You have one  goal: Graduate! You must collect 120 points to do so, but beware, the mad professor is looking to get you! </p>
            <a (click)="loadGame('graduation')" class="btn btn-primary">Play!</a>
          </div>
        </div>
      </div>

    </div>
  </div>


