* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #00274d;
  color: #ffffff;
}

body {
  font-family: 'Nerko One', cursive;
  text-align: center;
  /* background: rgba(238, 174, 202, 1);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
  /* background-color: #96c8fb; */
  /* background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%); */
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.main-section {
  /* padding: 20px; */
  padding-top: 50px;
  margin-bottom: 50px;
}

.title {
  font-size: 30px;
}


.settings {

}

.selection-menu select {

}

.custom-select {}

.custom-image__container {
  height: 100%;
  overflow: scroll;
  padding: 10px 0;

}

.custom-image__wrapper {
  /* display: flex; */
  /* flex-direction: column; */
  min-width: 100px;
  min-height: 100px;
  display: block;
  position: relative;
  /* margin-bottom: 20px; */
  margin: 20px 0;
}

.custom-image__wrapper span{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
  border-radius: 10px;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  background: #4e45401f;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  cursor: pointer;
  animation: expand .3s;
  transition: all ease 0.2s;

}



.custom-image__wrapper span::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 1px;
  background-color: #000000;
}
.custom-image__wrapper span::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 20px;
  background-color: #000000;
}

.custom-image__wrapper span:hover {
  border-color: #5e2563;
  background: #4e45400d;
}


.custom-image__wrapper input{
  display: none;
}

.custom-image__wrapper img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  height: auto;

  /* background: ; */
}
.image-button {

}

.btn {
  font-family: 'Nerko One', cursive;
  margin: 20px 20px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
}

.btn-create {
  /* width: 700px; */
}

/* .fa-plus-square {
  height: 100px;
  width: 100px;
} */
.game-board {
  /* height: 700px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

/* .card {
  width: 200px;
  height: 200px;
  margin: 0 10px;
  border-radius: 20px;
  align-self: center;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  transition: 200ms;
  /* animation-name: expand;
  animation-duration: .2s;
  animation-iteration-count: 1; */
.flip-card {

  position: relative;
  width: calc(100% / 3 - 20px);
  margin: 10px;
  background: transparent;
}

.flip-card::before {
  content: "";
  float: left;
  padding-top: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  animation: expand .2s;
  border-style: outset;
  border-width: 5px;
  border-radius: 10%;
}

.flip-card-inner:hover {
  box-shadow: 0 0 60px #ffff;
  cursor: pointer;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10%;
}

.flip-card-front {
  transform: rotateY(180deg);
  background-size: cover;
  background-position:  center;
}

.flip-card-inner.animate {
  transform: rotateY(180deg);
}

.flip-card-back {
  background:linear-gradient(135deg, #65799b 0%,#5e2563 100%);
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
  }
}

.matched, .matched:hover {
  opacity: 0.4;
  box-shadow: none;
  cursor: wait;
}

img {
  /* width: 200px; */
  /* height: 200px; */
  /* width: 40%;
  height: 40%; */

}

/* Modal */
/* The Modal (background) */
#warningModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#imageModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}



/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#warningModal .modal-content {}

#imageModal .modal-content {
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* font-size: 120px; */
}

#imageModal .modal-content h1{
  font-size: 25px;
}


#imageModal .far {}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@media (min-width: 576px){
  .container {
    max-width: 540px;


  }
}

@media (min-width: 768px){
  .container {
    max-width: 720px;


  }
}


@media (min-width: 992px){
  .title {
    font-size: 45px;
  }

  .flip-card {
    width: calc(100% / 4 - 40px);
    margin: 20px;
  }
}

