<section class="main-section">
  <div class="container">
    <h1 class="title">Memory Card Game</h1>
    <div class="settings">

      <!-- <button (click)="custombuttonClick()" data-target="#imageModal" class=" btn-custom  btn btn-light btn-outline-secondary btn-lg">Add Custom Images</button> -->
      <div class="selection-menu ">
        <select name="level" (change)="onChange($event)" [(ngModel)]="selectedOption" id="level_menu" class="custom-select ">
          <option value="choose">--Choose a Level--</option>
          <option *ngFor="let lvl of option" [value]=lvl>--{{lvl}}--</option>
        </select>
      </div>
    </div>
    <button (click)="createBoard()" class="btn-create btn btn-light btn-outline-secondary btn-lg ">Create New Cards</button>
    <div class="score-table">
      <p #scoreValue class="score-text">Score: <span class="score-value">{{score}}</span></p>
    </div>
    <div #gameBoard class="game-board">
      <div *ngFor="let item of pickedColors; let i = index" [id]="item" (click)="handleClick($event)" class="flip-card">
        <div class="flip-card-inner" [id]=item>
          <div class="flip-card-back" [id]=item>

          </div>
          <div class="flip-card-front" [id]=item [ngStyle]="{'background-image': 'url(' + item + ')'}">

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Score Table -->


  <!-- Modal for warning -->
  <div #modalWarning  id="warningModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <p #modalP [innerHtml]="myHtmlProperty"></p>
      <span class="close" (click)="closeWarn()">OK</span>
    </div>
  </div>
  <!-- Modal for Adding Custom Images -->
  <div #imageModal id="imageModal" class="modal">
    <!-- Modal content -->k
    <div class="modal-content">
      <!-- <span>Upload 6 different images from your device</span> -->
      <h1>Upload 6 different images from your device</h1>
      <div #uploadImageSection class="custom-image__container">
        <label class="custom-image__wrapper" for="image_0">
          <input type="file" (change)="change($event, 'image1'); img1 = true;" name="image" id="image_0" />
          <span></span>
          <div *ngIf="img1" #image1>
            <img class="previewImag" id="image1" style="display: block;">
          </div>



        </label>
        <label class="custom-image__wrapper" for="image_1">
          <input type="file" (change)="change($event, 'image2'); img2 = true;" name="image" id="image_1" />
          <span></span>
          <div *ngIf="img2" #image2>
            <img class="previewImag" id="image2" style="display: block;">
          </div>

          <!-- <i class="image-button far fa-plus-square fa-3x "></i> -->


        </label>
        <label class="custom-image__wrapper" for="image_2">
          <input type="file" (change)="change($event, 'image3'); img3 = true;" name="image" id="image_2"  />
          <span></span>
          <div *ngIf="img1" #image3>
            <img class="previewImag" id="image3" style="display: block;">
          </div>


          <!-- <i class="image-button far fa-plus-square fa-3x "></i> -->


        </label>
        <label class="custom-image__wrapper" for="image_3">
          <input type="file" (change)="change($event, 'image4'); img4 = true;" name="image" id="image_3"  />
          <span></span>
          <div *ngIf="img1" #image4>
            <img class="previewImag" id="image4" style="display: block;">
          </div>


          <!-- <i class="image-button far fa-plus-square fa-3x "></i> -->


        </label>
        <label class="custom-image__wrapper" for="image_4">
          <input type="file" (change)="change($event, 'image5'); img5 = true;" name="image" id="image_4" />
          <span></span>
          <div *ngIf="img1" #image5>
            <img class="previewImag" id="image5" style="display: block;">
          </div>

          <!-- <i class="image-button far fa-plus-square fa-3x "></i> -->


        </label>
        <label class="custom-image__wrapper" for="image_5">
          <input type="file"  (change)="change($event, 'image5'); img5 = true;" name="image" id="image_5" />
          <span></span>
          <div *ngIf="img1" #image6>
            <img class="previewImag" id="image6" style="display: block;">
          </div>


          <!-- <i class="image-button far fa-plus-square fa-3x "></i> -->

        </label>
      </div>
      <span class="close" (click)="closeUpload()">DONE</span>

    </div>
  </div>
</section>

<!-- <script src="app.js" charset="utf-8"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script> -->
<!-- <router-outlet></router-outlet> -->
