<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h3>Your Error Log</h3>

      <div *ngIf="errorLogs.length > 0">
        <table class="table table-bordered">
          <tr>
            <th width="10%">Date</th>
            <th width="20%">User</th>
            <th width="30%">Content</th>

          </tr>

          <tr *ngFor="let errorLog of errorLogs">
            <td>{{ errorLog.dateCreated | date: 'medium'}}</td>
            <td>{{ errorLog.user.userName}}</td>
            <td>{{ errorLog.content }}</td>
          </tr>

        </table>
      </div>

      <div *ngIf="errorLogs.length == 0" class="alert alert-warning col-md-12" role="alert">
        No errors found.
      </div>

      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">

                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="listErrorLogs()"
                >

                </ngb-pagination>
              </div>

              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>
                <select (change)="updatePageSize($event.target.value)">
                  <option>2</option>
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>


</div>
